body {
	background-color: rgb(223, 219, 198);
	font-family: serif;
}

#content {
	display: inline-block;
	background-color: white;
	padding: 1%;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 6px 3px black;
	max-width: 50em;
}

#content li {
	max-width: 30em;
	margin-bottom: 5px;
}

#content h1 {
	margin-top: 0;
}

#content p {
	max-width: 40em;
}

#liz {
	font-family: cursive;
	font-weight: bold;

	background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow-animation 35s linear infinite;
}

@keyframes rainbow-animation {
	to {
		background-position: 100vh;
	}
}

.paperlinks ul {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0;
}

.paperlinks img {
	text-align: right;
}


#fern {
	position: absolute;
	bottom: 0; right: 0 ;
}

#content a {
	text-decoration: none;
}

#content a:hover {
	background-color: lightgray;
}

.catimg {
	margin-right: 0.5em;
	vertical-align: top;
	width: 1em;
}

@media only screen and (max-width: 725px) {
	#content { padding: 2%; }
	#greeting {
		display: block;
		text-align: center;
	}
	.paperlinks ul  { margin-left: -1em;}
	#bird {
		position: absolute;
		right: 0;
		width: 30%;
		opacity: 10%;
	}
	#fern { opacity: 10%; }
	}
