body {
	background-color: rgb(223, 219, 198);
	font-family: serif;
}

#content {
	display: inline-block;
	background-color: white;
	padding: 1%;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 6px 3px black;
	max-width: 50em;
}

#content li {
	max-width: 30em;
	/*border-bottom: 1px solid black;*/
	margin-bottom: 5px;
}

#content h1 {
	margin-top: 0;
}

.paperlinks ul {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0;
}

.paperlinks img {
	text-align: right;
}

/*.paperlinks { display: inline-block; }*/

#fern {
	position: absolute;
	bottom: 0; right: 0 ;
}

#content a {
	text-decoration: none;
}

#content a:hover {
	background-color: lightgray;
}

.catimg {
	margin-right: 0.5em;
	vertical-align: top;
	width: 1em;
}

@media only screen and (max-width: 725px) {
	#content { padding: 2%; }
	.paperlinks ul  { margin-left: -1em;}
	#bird {
		position: absolute;
		right: 0;
		width: 30%;
		opacity: 10%;
	}
	#fern { opacity: 10%; }
}
